{% extends "base.html" %}

{% block title %}
Mini Search
{%  endblock %}

{% block content %}
    <div id = "searchbox">
        <form action="/search">
            <input type="text" name="query">
            <input type="submit" value="Search">
        </form>
    </div>
    
    <ul class="bookmarks" >
        {% for document in content %}
            <li>
                <p><b>{{document["title"]}}</b></p>
                <p><font color="green">Score: {{document["score"]}}</font></p>
                <p><font color="gray">{{document["content"]|safe}}</font></p>
            </li>
        {% endfor %}
    </ul>
    
{% endblock %}
